*{
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #8b0032;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image:url(images/adam1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
    background: none;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  
}
nav img{
    position: fixed;
    width: 70px
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
   color: bisque;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    background: none;
    width: 90%;
    color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    background: none;
    font-size: 70px;
}
.text-box p{
    background: none;
    margin: 10px 0 40px;
    font-size: 16px;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: crosshair;
}

.hero-btn:hover{
    border: 1px solid #fff;
    background: #8b0032;
    transition: 1.5s;
}
nav .fa{
    display: none;

}
@media(max-width:700px){
    .text-box h1{
    font-size: 20px;
} 
    nav img{
        position: fixed;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #8b0032;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }

}

.skills{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
}
h1{
    font-size: 36px;
    font-weight: 600;
}
 p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.skills-col{
    flex-basis: 31%;
    background:none;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.skills-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}

@media(max-width:700px){
    .row{
        flex-direction: column;
        

    }

}

.footer{
    width:80%
    background: #4D2626;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.icons{
    background: none;
    width: 100%;
    text-align: center;

}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    padding: 18px 0;
    transition: 0.5s;
    
}

.icons .fa:hover{
    color: aliceblue;
    margin: 0 20px;

}








